:root {
  font-family: Overpass, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: dark;
}
:root[theme='light'] {
  color-scheme: light;
}

body {
  color: var(--on-surface);
  background-color: var(--surface-0);
}

a {
  color: var(--link);
}
a:hover,
a:focus-visible {
  color: var(--link-hover);
}

button {
  cursor: pointer;
}

input[type='text'],
textarea {
  border: 0;
  border-radius: 100vw;
  background-color: var(--surface-3);
  color: var(--on-surface);
  padding-inline: var(--space-xs);
  padding-block: var(--space-3xs);
  width: 100%;
}
textarea {
  border-radius: 1em;
  resize: vertical;
  min-height: var(--space-3xl);
}
::placeholder {
  color: var(--light-4);
  /* color: var(--dark-0); */
  /* color: var(--on-surface-faint); */
}

input {
  accent-color: var(--accent-2);
}

/*
Focused elements should have an outline, unless they are the child of a .focus-parent element.
This makes it easy to highlight the surrounding element, like on the searchbar, or anywhere
an input gets paired with an icon
*/
@layer focus {
  :not(.focus-parent) > :focus-visible,
  .focus-parent:focus-within {
    outline-color: var(--accent-2);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: var(--space-3xs);
    transition: outline-offset 200ms;
  }
  .focus-parent > :focus-visible {
    outline: transparent;
  }
}

@layer focus-nav {
  /* Focused nav links are purple! */
  nav :is(a, button):focus-visible {
    outline-color: var(--primary-2);
  }
}
