@import './modern-css-reset.css' layer(reset);
@import './vars.css' layer(variables);
@import './colors.css' layer(colors);
@import './semantic-colors.css' layer(colors);
@import './spacing.css' layer(spacing);
@import './typography.css' layer(typography);
@import './base.css' layer(base);
@import './defaults.postcss' layer(defaults);
